/Taller 2 OCP/nbproject/private/
/Taller 2 OCP/build/
/Taller 1 LSP/nbproject/private/
/Taller 1 LSP/build/
/Taller 1 ISP/nbproject/private/
/Taller 2 ISP/nbproject/private/
/Taller 1 DIP/nbproject/private/
/Taller 1 DIP/build/
/Taller 2 ISP/build/
/Taller 1 ISP/build/
/Taller 2 DIP/nbproject/private/
/Taller 2 DIP/build/
/JavaApplication17/nbproject/private/
/TALLER 3 SRP/nbproject/private/
/TALLER 3 SRP/build/
/TALLER 3 OCP/nbproject/private/
/TALLER 1 DRY/nbproject/private/
/TALLER 1 DRY/build/
/TALLER 1.1 KISS/nbproject/private/
/TALLER 1.1 KISS/build/
/TALLER 1.2 KISS/nbproject/private/
/TALLER 1.2 KISS/build/
/TALLER 1 YAGNI/nbproject/private/
/TALLER 1 YAGNI/build/
/PRINCIPIOS GRASP/nbproject/private/
/TALLER 1 EXPERTO/nbproject/private/
/TALLER 1 EXPERTO/build/
/TALLER 1 CREADOR/nbproject/private/
/TALLER 1 CREADOR/build/
/TALLER 1 CONTROLADOR/nbproject/private/
/TALLER 1 CONTROLADOR/build/
/TALLER 1 ALTA C Y BAJO A/nbproject/private/
/TALLE 1 POLIMORFISMO/nbproject/private/
/TALLE 1 POLIMORFISMO/build/
/TALLER 1 FABRICA PURA/nbproject/private/
/TALLER 1 FABRICA PURA/build/
/TALLER 1 ALTA C Y BAJO A/build/
