/Taller 2 OCP/nbproject/private/
/Taller 2 OCP/build/
/Taller 1 LSP/nbproject/private/
/Taller 1 LSP/build/
/Taller 1 ISP/nbproject/private/
/Taller 2 ISP/nbproject/private/
/Taller 1 DIP/nbproject/private/
/Taller 1 DIP/build/
/Taller 2 ISP/build/
/Taller 1 ISP/build/
/Taller 2 DIP/nbproject/private/
/Taller 2 DIP/build/
